<div class="container">
  <h3 class="text-center"> O mne</h3>
  <br>
  <hr>
  <div class="row">
    <div class="col-10">
      <div class="container">

        <p>Moje meno je <strong>Lukáš Straka</strong> mám 27 rokov. </p>
        <p>Vyštudoval som Technickú univerzitu v Košiciach na fakulte elektrotechniky a informatiky v odbore
          Informatika. Po škole v roku 2016 som hneď začal pracovať v spoločnosti T-Systems ako Java programátor.
          V práci som sa však okrem Javy mal možnosť stretnúť aj s inými jazykmi alebo frameworkami a to napríklad:
          Spring Boot, Hibernate, JPA, Javascript, HTML, CSS, Angular JS, TypeScript a Angular 6, Maven, Git, Swing UI,
          Sonar, Jenkins. </p>
        <p>Detailnejšie informácie je možné stiahnuť z priloženého CV: <a href="/assets/StrakaLukasCV_EN.pdf" download>Straka_Lukas_CV-EN.pdf</a>
          alebo <a href="/assets/StrakaLukasCV_SK.pdf" download>Straka_Lukas_CV-SK.pdf</a></p>
      </div>
    </div>
    <div class="col-2">
      <img class="img-fluid rounded img-thumbnail" src="/assets/images/lukas.jpg" alt="profilePhoto">
    </div>
  </div>
</div>
